.Judul{
    color: #ECB28B;
    font-weight: bolder;
    font-size: 5rem;
    text-align: center;
}

.content-area{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 8rem;
}

.Content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 5rem;
}

.Content-Picture{
    width: 30%;
}

.Content-Def{
    width: 50%;
    text-align: center;
}

.Content-Def-Judul{
    color: #ECB28B;
    font-size: 40px;
}

.Content-Def-Keterangan{
    margin-top: 2rem;
    font-size: 1.5rem;
}

.content-2{
    background-color: #FCF7F4;
}


@media only screen and (max-width: 768px){
    .Judul{
        margin-bottom: 0rem;
    }

    .content-area{
        justify-content: center;
    }

    .Content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0rem;
        margin-bottom: 2rem;
    }

    .Content-Picture{
        width: 230px;
    }

    .Content-Def{
        width: 100%;
    }

    .Content-Def-Judul{
        font-size: 25px;
    }

    .Content-Def-Keterangan{
        text-align: center;
        font-size: 1rem;
    }

    .content-2{
        display: flex;
        flex-direction: column-reverse;
    }
}
