.landing{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F253D;
    height: 90vh;
    padding: 0 5rem;
    color: white;
}

.landing>img{
    width: 50%;
}

.landing-content{
    width: 50%;
}

.landing-content>p:first-child{
    font: 3.5rem GothamBold;
    margin: 0;
}

.landing-content>p:nth-child(2){
    font: 1.5rem GothamLight;
    margin-bottom: 3rem;
}

.landing-content>a{
    color: white;
    text-decoration: none;
    background-color: #ECB28B;
    border-radius: 50px;
    width: fit-content;
    font-size: 2rem;
    padding: 1rem 2rem;
}

.landing-content>a:hover{
    opacity: .8;
}

.why{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem 0;
}

.why>h1{
    font: 3rem GothamBold;
}

.why-content{
    display: flex;
    justify-content: space-around;
    width: 65%;
}

.why-content-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    box-shadow: 0 0 10px gainsboro;
    text-align: center;
    transition: ease-in-out;
    margin: 1rem;
}

.why-content-box:hover{
    transform: translate(0, -10px);
    box-shadow: 0px 0px 20px gainsboro;
}

.why-content-box>img{
    width: 15vw;
}

.why-content-box-text{
    padding: 1rem;
}

.why-content-box-text>p:first-child{
    font: 1.5rem GothamBold;
    margin: .5rem 0;
}

.why-content-box-text>p:nth-child(2){
    margin: 0;
    font: 1.3rem GothamLight;
}

.quality {
    background-color: #FCF7F4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 5rem;
    color: #1F253D;
}

.quality p:first-child {
    font: 3.5rem GothamBold;
    margin: 0;

}

.quality p:nth-child(2) {
    width: 60%;
    text-align: center;
    font: 1.5rem GothamLight;
}

.quality a{
    text-decoration: none;
    background-color: #ECB28B;
    border-radius: 50px;
    color: white;
    font: 2rem GothamLight;
    padding: 1rem 2rem;
    margin: 2rem 0;
    align-self: center;
}

.quality a:hover{
    opacity: .8;
}

.quality>img{
    width: 60%;
}

.customer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

.customer>h1{
    font: 3.5rem GothamBold;
}

.customer-carousel{
    width: 50%;
}

.customer-carousel-item{
    background-color: #E7D4C9;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}

.customer-carousel-item-profile{
    display: flex;
    align-items: center;
}

.customer-carousel-item-profile>img{
    width: 5rem;
}

.customer-carousel-item-profile>p{
    font: 1.5rem GothamBold;
    padding: 0 1rem;
}

.customer-carousel-item-text{
    margin: 1rem 0;
}

.customer-carousel-item-text>p:first-child{
    font: 1.2rem GothamBold;
    margin: 0;
}

.customer-carousel-item-text>p:nth-child(2){
    font: 1.2rem GothamLight;
    margin: 0;
}

.slick-prev.slick-arrow{
    margin: 0 -1rem;
}

.slick-arrow:before{
    color: #ECB28B;
    font-size: 2rem;
}

@media only screen and (max-width: 768px){
    .landing{
        padding: 0 1rem;
    }
    
    .landing>img{
        display: none;
    }

    .landing-content{
        width: 100%;
        text-align: center;
    }

    .landing-content>p:nth-child(2){
        margin-bottom: 3rem;
    }
    
    .why{
        padding: 1rem;
    }

    .why-content{
        flex-direction: column;
        width: 100%;
    }

    .why-content-box{
        text-align: left;
        flex-direction: row;
        padding: .2rem;
        margin: 1rem 0;
    }

    .why-content-box>img{
        width: 28vw;
    }

    .why-content-box-text>p:first-child{
        font: 1.5rem GothamBold;
        margin: .5rem 0;
    }

    .why-content-box-text>p:nth-child(2){
        margin: 0;
        font: 1.2rem GothamLight;
    }
    
    .quality{
        text-align: center;
        padding: 3rem 1rem;
    }

    .quality p:nth-child(2){
        width: 100%;
    }

    .quality img{
        width: 100%;
    }

    .customer{
        padding: 0 3rem;
        text-align: center;
    }

    .customer-carousel{
        width: 100%;
    }

    .customer-carousel-item-profile{
        text-align: left;
    }

    .customer-carousel-item-profile>img{
        width: 3rem;
    }

    .customer-carousel-item-text{
        text-align: left;
    }
}