html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@font-face{
    font-family: "GothamLight";
    src: url("../asset/font/GothamLight.ttf");
}

@font-face{
    font-family: "GothamBold";
    src: url("../asset/font/GothamBold.ttf");
}

.navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
    height: 10vh;
    background-color: #1F253D;
    padding: 0 5rem;
    font: 1.5rem GothamBold;
}

.navbar a{
    text-decoration: none;
}

.navbar-logo a{
    color: #ECB28B;
    font-weight: bolder;
}

.navbar-link{
    padding: 0 1rem;
    color: white;
}

.navbar-link>a{
    padding: 0 1rem;
    color: white;
}


.navbar-button{
    margin-left: auto;
}

.navbar-button a{
    padding: 1rem;
    color: white;
}

.navbar-button>a>img{
    width: 1.5rem;
    filter: brightness(0) invert(1);
}

label[for="hamburger"], #hamburger{
    display: none;
    font-size: 2rem;
}

.Login{
    font-family: "GothamBold";
    height: 90vh;
    background-color: #1F253D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Login-Box{
    display: flex;
    justify-content: center;
    background-color: #FCF7F4;
    border-radius: 15%;
    width: 350px;
    height: 300px;
}

.Login-Box-Content{
    align-items: center;
    text-align: center;
}

.Login-Box-Content>h1{
    margin-top: 1rem;
    font-size: 30px;
}

.Login-Box-Content>p{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#username{
    font-size: 16px;
    font-family: "GothamBold";
    color: silver;
    border: 2px solid silver;
    padding: 3px;
    /* box-shadow: 2px 2px 2px silver; */
}

#password{
    margin-top: 1rem ;
    font-family: "GothamBold";
    color: silver;
    /* box-shadow: 2px 2px 2px silver; */
    font-size: 16px;
    border: 2px solid silver;
    padding: 3px;

}

.Login-Box-Content-Button{
    background-color: #ECB28B;
    border-radius: 50px;
    
    padding: 5px 60px;
    font-size: 20px;
}

.Login-Box-Content-Button-Clikhere{
    font-family: "GothamBold";
    color: #ECB28B;
    /* font-size: 30px; */
}

.Register{
    font-family: "GothamBold";
    height: 90vh;
    background-color: #1F253D ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Register-Box{
    display: flex;
    justify-content: center;
    background-color: #FCF7F4;
    border-radius: 30px;
    width: 350px;
    height: 500px;
}

.Register-Box-Content{
    text-align: center;
    
}

.Register-Box-Content>h1{
    margin-top: 1rem;
    margin-bottom: 0rem;
    font-size: 30px;
}

.Register-Box-Content>p{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.Register-Box-Content-Item{
    margin-top: 1rem;
    font-size: 16px;
    font-family: "GothamBold";
    color: silver;
    border: 2px solid silver;
    padding: 3px;
}

.Register-Box-Content-Button{
    background-color: #ECB28B;
    border-radius: 50px;
    
    padding: 5px 60px;
    font-size: 20px;
}

.Register-Box-Content-Button-Clikhere{
    color: #ECB28B;
}



@media only screen and (max-width: 768px){
    .navbar{
        padding: 0 1rem;
        justify-content: space-between;
        background-color: #ECB28B;
        font-size: 2rem;
    }

    .navbar-logo>a{
        color:white;
    }

    .navbar-button{
        margin: 0;
        padding: 0;
    }

    .navbar-button>a{
        padding: .2rem;
        margin: 0;
    }

    .navbar-button>a>img{
        width: 2rem;
    }

    .navbar-button>a>span{
        display: none;
    }

    .navbar input:checked ~ .navbar-link{
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #ECB28B;
        top: 0;
        left: 0;
        margin-top: 10vh;
        width: 100vw;
        height: 20vh;
    }

    .navbar>input:checked.navbar{
        background-color: #ECB28B;
    }

    .navbar-link{
        display: none;
        height: 0;
        transition: 1s ease;
    }

    .navbar-link>a{
        display: block;
        box-sizing: border-box;
        width: 100%;
        margin: 1rem 0;
    }

    label[for="hamburger"]{
        display: inline-block;
        color: white;
    }

    .Login{
        font-family: "GothamBold";
        height: 90vh;
        background-color: #1F253D;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .Login-Box{
        display: flex;
        justify-content: center;
        background-color: #FCF7F4;
        border-radius: 15%;
        width: 250px;
        height: 300px;
    }
    
    .Login-Box-Content{
        align-items: center;
        text-align: center;
    }
    
    .Login-Box-Content>h1{
        margin-top: 1rem;
        font-size: 25px;
    }
    
    .Login-Box-Content>p{
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
    
    #username{
        font-size: 13px;
        font-family: "GothamBold";
        color: silver;
        border: 2px solid silver;
        padding: 3px;
    }
    
    #password{
        margin-top: 1rem ;
        font-family: "GothamBold";
        color: silver;
        /* box-shadow: 2px 2px 2px silver; */
        font-size: 13px;
        border: 2px solid silver;
        padding: 3px;
    }
    
    .Login-Box-Content-Button{
        background-color: #ECB28B;
        border-radius:50px;
        padding: 5px 60px;
        font-size: 20px;
    }

    .Login-Box-Content-Button-Clikhere{
        font-family: "GothamBold";
        color: #ECB28B;
    }

        
        .Register{
            font-family: "GothamBold";
            height: 90vh;
            background-color: #1F253D ;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .Register-Box{
            display: flex;
            justify-content: center;
            background-color: #FCF7F4;
            border-radius: 30px;
            width: 300px;
            height: 470px;
        }
        
        .Register-Box-Content{
            text-align: center;
            
        }
        
        .Register-Box-Content>h1{
            margin-top: 1rem;
            margin-bottom: 0rem;
            font-size: 30px;
        }
        
        .Register-Box-Content>p{
            margin-top: 1rem;
            margin-bottom: 2rem;
            font-size: 14px;
        }
        
        .Register-Box-Content-Item{
            margin-top: 1rem;
            font-size: 15px;
            font-family: "GothamBold";
            color: silver;
            border: 2px solid silver;
            padding: 3px;
        }
        
        .Register-Box-Content-Button{
            background-color: #ECB28B;
            border-radius: 50px;
            
            padding: 5px 60px;
            font-size: 20px;
        }
        
        .Register-Box-Content-Button-Clikhere{
            font-size: 14px;
            color: #ECB28B;
        }
}

    