html,body{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: "GothamLight";
    src: url("../asset/font/GothamLight.ttf");
    }
    
@font-face{
    font-family: "GothamBold";
    src: url("../asset/font/GothamBold.ttf");
}

    .why{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .why>h1{
        font: 3rem GothamBold;
    }

    .why-content{
        display: flex;
        justify-content: space-around;
        width: 65%;
    }

    .why-content-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        box-shadow: 0 0 10px gainsboro;
        text-align: center;
        transition: ease-in-out;
        margin: 1rem;
    }

    .why-content-box:hover{
        transform: translate(0, -10px);
        box-shadow: 0px 0px 20px gainsboro;
    }

    .why-content-box>img{
        width: 15vw;
    }

    .why-content-box-text{
        padding: 1rem;
    }

    .why-content-box-text>p:first-child{
        font: 1.5rem GothamBold;
        margin: .5rem 0;
    }

    .why-content-box-text>p:nth-child(2){
        margin: 0;
        font: 1.3rem GothamLight;
    }

@media only screen and (max-width: 768px){
    .why{
        padding: 1rem;
    }

    .why-content{
        flex-direction: column;
        width: 100%;
    }

    .why-content-box{
        text-align: left;
        flex-direction: row;
        padding: .2rem;
        margin: 1rem 0;
    }

    .why-content-box>img{
        width: 28vw;
    }

    .why-content-box-text>p:first-child{
        font: 1.5rem GothamBold;
        margin: .5rem 0;
    }

    .why-content-box-text>p:nth-child(2){
        margin: 0;
        font: 1.2rem GothamLight;
    }
}