html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@font-face{
    font-family: "GothamLight";
    src: url("../asset/font/GothamLight.ttf");
}

@font-face{
    font-family: "GothamBold";
    src: url("../asset/font/GothamBold.ttf");
}

.navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
    height: 10vh;
    background-color: #1F253D;
    padding: 0 5rem;
    font: 1.5rem GothamBold;
}

.navbar a{
    text-decoration: none;
}

.navbar-logo a{
    color: #ECB28B;
    font-weight: bolder;
}

.navbar-link{
    padding: 0 1rem;
    color: white;
}

.navbar-link>a{
    padding: 0 1rem;
    color: white;
}


.navbar-button{
    margin-left: auto;
}

.navbar-button a{
    padding: 1rem;
    color: white;
}

.navbar-button>a>img{
    width: 1.5rem;
    filter: brightness(0) invert(1);
}

label[for="hamburger"], #hamburger{
    display: none;
    font-size: 2rem;
}

.landing{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F253D;
    height: 90vh;
    padding: 0 5rem;
    color: white;
}

.landing>img{
    width: 50%;
}

.landing-content{
    width: 50%;
}

.landing-content>p:first-child{
    font: 3.5rem GothamBold;
    margin: 0;
}

.landing-content>p:nth-child(2){
    font: 1.5rem GothamLight;
}

.landing-content>a{
    color: white;
    text-decoration: none;
}

.landing-content-button{
    background-color: #ECB28B;
    border-radius: 50px;
    width: fit-content;
    font-size: 2rem;
    padding: 1rem 2rem;
    margin: 2rem 0;
}

.quality {
    background-color: #FCF7F4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 5rem;
    color: #1F253D;
}

.quality p:first-child {
    font: 3.5rem GothamBold;
    margin: 0;
}

.quality p:nth-child(2) {
    width: 60%;
    text-align: center;
    font: 1.5rem GothamLight;
}

.quality a{
    text-decoration: none;
    background-color: #ECB28B;
    border-radius: 50px;
    color: white;
    font: 2rem GothamLight;
    padding: 1rem 2rem;
    margin: 2rem 0;
    align-self: center;
}

.quality>img{
    width: 60%;
}

@media only screen and (max-width: 768px){
    .navbar{
        padding: 0 1rem;
        justify-content: space-between;
        background-color: #ECB28B;
    }

    .navbar-logo>a{
        color:white;
    }

    .navbar-button{
        margin: 0;
        padding: 0;
    }

    .navbar-button>a{
        padding: .2rem;
        margin: 0;
    }

    .navbar-button>a>span{
        display: none;
    }

    .navbar input:checked ~ .navbar-link{
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #ECB28B;
        top: 0;
        left: 0;
        margin-top: 10vh;
        width: 100vw;
        height: 20vh;
    }

    .navbar>input:checked.navbar{
        background-color: #ECB28B;
    }

    .navbar-link{
        display: none;
        height: 0;
        transition: 1s ease;
    }

    .navbar-link>a{
        display: block;
        box-sizing: border-box;
        width: 100%;
        margin: 1rem 0;
    }

    label[for="hamburger"]{
        display: inline-block;
        color: white;
    }

    .landing{
        padding: 0 1rem;
    }
    
    .landing>img{
        display: none;
    }

    .landing-content{
        width: 100%;
        text-align: center;
    }

    .landing-content>p:nth-child(2){
        margin: 0;
    }

    .landing-content>a{
        display: flex;
        margin-top: 5rem;
        justify-content: center;
    }

    .landing-content-button{
        margin: 0;
    }
    
    .quality{
        text-align: center;
        padding: 3rem 1rem;
    }

    .quality p:nth-child(2){
        width: 100%;
    }

    .quality img{
        width: 100%;
    }
}
